include LICENSE.txt
include README.md
include requirements.txt
recursive-include * *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude *.egg-info *
recursive-exclude .git *